# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.lock

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.glide/

# MAC
.DS_Store

# debug
**debug

# idea
.idea

# dep
vendor

pkg

conf.json
*.ini
go.sum